*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: poppins, arial;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    min-height: 100vh;
}

.fieled-container{
    border: 1.5px solid #eee;
    border-radius: 10px;
    position: relative;
    width: 250px;
    outline: 1.5px solid rgba(153, 0, 255, 0);
    cursor: pointer; /* clickable */

    .selected-option{
        display: flex;
        padding: 10px;
        justify-content: space-between;

        .selected{
            margin-right: 10px;
            font-size: 14px;
        }
        span{
            pointer-events: none;
            transition-duration: 0.35s;
        }
        .rotate{
            transform: rotate(180deg);
        }
    }

    .options {
        background-color: white;
        position: absolute;
        width: 100%;
        padding: 10px;
        display: flex;
        flex-direction: column;
        gap: 8px;
        border-radius: 15px;
        left: 0;
        bottom: 0;
        /* transition-duration: 0.35s; */
        box-shadow: 0px 8px 12px 0px #00000014, 0px 0px 1px 0px #0000009e;
        
        /* hidden by default */
        transform: translateY(calc(100% + 1.5px)) scale(0.95);
        transform-origin: left top;
        pointer-events: none;
        opacity: 0;

        > div{ /* options */
            cursor: pointer;
            transition-duration: 0.35s;
            border-radius: 5px;
            padding: 7px 7px;
            font-weight: 400;
            font-size: 14px;
        }
        div:hover{
            background-color: rgb(252, 248, 255);
            background-color: #e8e8e867;
        }
    }
    .show-options{
        opacity: 1;
        transform: translateY(calc(100% + 1.5px)) scale(1);
        pointer-events: auto;
        transition-duration: 0.35s;
    }
}